
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="https://i.hizliresim.com/8qzcpn7.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Eren Polat
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				@* <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div> *@
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Dashboard/Index/">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					
				</a>
			</li>
			@* <li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-send-o"></i>
					<p>Siteye Git</p>
				</a>
			</li> *@

			<li class="nav-item">
				<a href="/About/Index/">
					<i class="la la-user-secret"></i>
					<p>Hakkımda</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/ToDoList/Index/">
					<i class="la la-bell"></i>
					<p>Yapılacaklar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Experience/ExperienceList/">
					<i class="la la-certificate"></i>
					<p>Deneyimler</p>
				
				</a>
			</li>
			<li class="nav-item">
				<a href="/Portfolio/Index/">
					<i class="la la-paste"></i>
					<p>Projelerim</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index/">
					<i class="la la-phone"></i>
					<p>İletişim Bilgileri</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skill/Index/">
					<i class="la la-star-half-full"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Testimonial/Index/">
					<i class="la la-comments"></i>
					<p>Referanslarım</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/SocialMedia/Index/">
					<i class="la la-slack"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Message/Inbox/">
					<i class="la la-envelope-o"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Statistic/Index/">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-power-off"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			
		</ul>
	</div>
</div>
<style>
	.sidebar {
		width: 261px; /* Genişliği burada ayarlayın */
		/* background: linear-gradient(to bottom, navy,aqua); */
		background-color: navy;
		color: black; /* Yazı rengi */
		overflow-x: hidden; /* Yatay kaydırmayı engelle */
	
	}
</style>